// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0.1rem solid;
  background-color: $color-primary;
  border: 0.1rem solid $color-primary;
  border-radius: 0.4rem;
  color: $color-light;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  // height: 3.8rem;
  letter-spacing: 0.1rem;
  // line-height: 3.8rem;
  padding: 1.16rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  &.outline {
    background-color: transparent !important;
    border: 0.1rem solid $color-primary;
    color: $color-primary;
  }
  &:not([disabled]) {
    &:focus,
    &:hover {
      background-color: lighten($color-primary, 15%) !important;
      outline: 0;
    }
    &:active {
      background-color: darken($color-primary, 5%) !important;
    }
  }
  @each $name, $color in $colors {
    &.#{$name}:not([disabled]) {
      background-color: $color !important;
      color: $color-light;
      border-color: darken($color, 15%) !important;
      &:focus,
      &:hover {
        background-color: lighten($color, 15%) !important;
        outline: 0;
      }
      &:active {
        background-color: darken($color, 5%) !important;
      }
      &.outline {
        background-color: transparent !important;
        border-color: $color !important;
        color: $color !important;
        &:focus,
        &:hover {
          background-color: lighten($color, 15%) !important;
          outline: 0;
        }
        &:active {
          background-color: darken($color, 5%) !important;
        }
      }
    }
  }

  &[disabled] {
    cursor: default;
    background-color: $color-secondary;
    border-color: $color-secondary;
    opacity: 0.5;
  }
}
