// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $color-primary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-secondary;
  }

  @each $name, $color in $colors{
    &.text-#{$name}{
      color: $color;
      &:hover, &:focus{
        color: darken($color, 10%);
      }
    }
  }
}
