// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $color-primary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-secondary;
  }

  @each $color-name, $color-code in $colors{
    &.#{$color-name}{
      color: $color-code;
      &:hover, &:focus{
        color: darken($color-code, 10%);
      }
    }
  }
}
