$modal-z-index: 10;

.modal {
  display: none;
  &.active {
    z-index: $modal-z-index;
    position: fixed;
    animation: modal-show 1s linear infinite;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: block !important;
    background-color: #00000065;
    & > * {
      display: table;
      margin: auto;
      position: relative;
      top: 16rem;
    }
  }
}
