@include animation(show)
  0%
    opacity: 0
  100%
    opacity: 1
@include animation(right2left)
  0%
    margin-left: 100%
  100%
    margin-left: 0px


.carousel
  display: block
  width: $carousel-width
  overflow: auto
  & > .content
    display: block
    overflow: hidden
    width: auto
    & > *
      display: none
      &.active
        display: block
        width: 100%

.carousel
  &[data-transition="opacity"] > .content > *
    &.active
      animation: animation-show 2.5s
  &[data-transition="right2left"] > .content > *
    &.active
      animation: animation-right2left 1s
