// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.flex
  padding: 0px
  width: 100%
  display: flex
  flex-flow: row wrap

  &.row
    flex-flow: row
  &.column
    flex-flow: column

  &:not(.no-column-padding) > [class*="column-"]
    padding: $column-padding-y $column-padding-x
    display: block
    margin: 0px
    border: 0px

  @media only screen and (max-width: 576px)
    & > *
      width: 100% !important

  @each $column-size in $row-division
    & > .column-#{$column-size}
      width: #{100%/12*$column-size}

  @each $screen-name, $screen-size in $screens
    @media only screen and (min-width: $screen-size)
      @each $column-size in $row-division
        & > .column-#{$screen-name}-#{$column-size}
          width: #{100%/12*$column-size}

  @each $direction in $flex-direction
    &.#{$direction}
      flex-direction: $direction

  // @each $align in $flex-align
  //   &.align-#{$align}
  //     align-items: $align !important
  //
  //
  // @each $column-align in $flex-column-align
  //   & > *[class=align-#{$column-align}]
  //     align-self: $column-align !important
  //

@each $content-name, $content-align in $justify-contents
  .justify-contents-#{$content-name}
    justify-content: $content-align

@each $content-name, $content-align in $align-items
  .align-items-#{$content-name}
    align-items: $content-align
