.absolute
  position: absolute
.relative
  position: relative
.fixed
  position: fixed
  z-index: 5

.position-top
  top: $margin-position
.position-bottom
  bottom: $margin-position
.position-left
  left: $margin-position
.position-right
  right: $margin-position
.position-center-h
  left: 50%
  transform: translateX(-50%)
.position-center-v
  top: 50%
  transform: translateY(-50%)
