// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix
  &:after
    clear: both
    content: " " // The space content is one way to avoid an Opera bug.
    display: table

// Float either direction
.float-left
  float: left

.float-right
  float: right

.rounded-1
  border-radius: $border-radius !important

.rounded-2
  border-radius: $border-radius+1 !important

.rounded-3
  border-radius: $border-radius+2 !important

.rounded-4
  border-radius: $border-radius+3 !important

.no-rounded
  border-radius: 0px !important

.shadow
  box-shadow: 0 0 10px $color-transparent-dark !important

@each $size in $porcent-size
  .w-#{$size}
    width: $size*1% !important

  .h-#{$size}
    height: $size*1% !important
@each $screen-name, $screen-size in $screens
  @media only screen and (min-width: $screen-size)
    @each $size in $porcent-size
      .w-#{$screen-name}-#{$size}
        width: $size*1% !important

      .h-#{$screen-name}-#{$size}
        height: $size*1% !important

$overflows: (hidden, auto)
@each $overflow in $overflows
  .overflow-#{$overflow}
    overflow: $overflow !important

  .overflow-x-#{$overflow}
    overflow-x: $overflow !important

  .overflow-y-#{$overflow}
    overflow-y: $overflow !important

.text-start
  text-align: start

.text-center
  text-align: center

.text-end
  text-align: end

.text-justify
  text-align: justify
